<section>
  <h2 id="contact-me">Contact Me</h2>
  <p><small>All fields required. Your data will be processed by Formspark (European based), see <a href="https://formspark.io/legal/privacy-policy/" rel="nofollow privacy-policy">privacy policy</a>. (Opens Formspark domain on submit)</small></p>
  
  <link rel="stylesheet" href="/assets/css/style-contactform.css">
  <form action="https://submit-form.com/waLN3ayDw" rel="external">

    <input class="visually-hidden" type="checkbox" name="_gotcha" tabindex="-1" autocomplete="off">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" autocomplete="name" placeholder="What should I call you?" required>

    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="email" placeholder="hello@example.com" required>
    
    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Your message&hellip;" autocomplete="off" required></textarea>
    
    <button class="button button--submit" type="submit">Send Message</button>
  </form>
</section>
