.wrap-preview {
    all: revert;
    overflow: auto;
}

@supports (display:flow-root) {
    .wrap-preview {
        display: flow-root;
        overflow: visible;
    }
}

::slotted(h2):before {
	content: "/";
	content: "/" / "";
	margin-inline: -.125em .075em;
	font-weight: 700;
	color: currentColor;
}

.wrap-preview--image {
    float: right;
    float: inline-end;
    margin-inline-start: .5rem;
    max-width: 20rem;
}

.wrap-preview p {
    margin: .75rem 0 1.5rem;
    text-wrap: pretty
}
