article :is(h2, p) {
    margin-top: 0;
    margin-bottom: 1rem
}

@supports (display: grid) {
	.wrap-content {
	    grid-column: 1/span 2;
	    grid-row: auto;
	    margin-top: 0;
	}

	.wrap-content--passthrough {
		display: contents;
	}
	
	.wrap-all {
	    width: 100%;
	}
	
	.grid--projects {
	    grid-column: 1/span 2;
	    display: grid;
	    grid-template: 1fr / 1fr 1fr 1fr;
	    grid-gap: 1rem;
	    gap: 1rem;
	    margin-bottom: 0;    
	    @media (--mq-wide) {
	        grid-gap: 2.5rem;
	        gap: 2.5rem;
	        margin-inline: -1.26rem;
	    }
	}
}

@media (any-hover: hover) {
	.figure--hover {
      display: inline-block;
	    position: relative;
	    margin: 0;
	    padding: 0;
	    transition: transform .1s ease;
		@media (prefers-reduced-motion: no-preference) {
		    &:is(:hover, :focus) {
		        transform: scale(1.05);
		    }
		}
	}
	
	.figure--hover figcaption {
	    position: absolute;
	    inset: 0;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    font-size: 1.375em;
	    line-height: 1;
	    font-weight: bold;
	    opacity: 0;
	    color: var(--col-body, #fff);
	    background-color: rgba(48, 134, 152, 0.8);
	    backdrop-filter: blur(.1rem);
	    transition: opacity 0.1s ease;
	    hyphens: auto;
	    z-index: 77;
	}
	
	.figure--hover:hover figcaption, .figure--hover:focus figcaption {
	    opacity: 1;
	}
}
