<!DOCTYPE html>
<html lang="en-GB">
<head>
{% include meta.html %}
</head>
<body>

    <div class="wrap-all">

        {% include header.html %}

        <main id="content" class="wrap-content">
            <article>
                
                <h1>{{ page.title }}</h1>

                {{ content }}
                
            </article>
        </main>

        <div id="sidebar" class="wrap-sidebar">
            
            {% include sidebar.html %}

        </div>
        
    </div>
    
    <div class="wrap-footer">
        
        <div class="wrap-all" >
            
            {% include socialicons.html %}
            {% include footer.html %}

        </div>

    </div>
    
</body>
</html>